{% extends "base.html" %}
{% block page-heading %}
<li class="nav-item">
  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'completed_services' %}" role="tab" aria-controls="overview" aria-selected="true">Completed Services</a>
</li>
{% endblock page-heading %}
{% block content %}
<!-- Table -->
<div class="row px-2">
  <div class="col grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- Messages -->
        <div id="message-div">
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                  {% endfor %}
              </ul>
          {% endif %}
        </div>
        
        {% if completed_services %}
        <h4 class="card-title">Completed Services</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Service ID</th>
                <th>Scheduled Date</th>
                <th>Technician</th>
                <th>Starting Time</th>
                <th>Ending Time</th>
              </tr>
            </thead>
            <tbody>
              {% for completed_service in completed_services %}
              <tr id="link-table" onclick="window.location='{% url 'completed_service' completed_service.pk %}'">
                <td>{{forloop.counter}}</td>
                <td>{{completed_service.id}}</td>
                <td>{{completed_service.service_date}}</td>
                <td>{{completed_service.technician}}</td>
                <td>{{completed_service.starting_time}}</td>
                <td>{{completed_service.ending_time}}</td>
              </tr>
              {% endfor %}                            
            </tbody>
          </table>
        </div>
        {% else %}
            <div class="text-center text-danger text-uppercase">
                <h5>No Completed Service</h5>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}