{% extends "base.html" %}  
{% block page-heading %}
<li class="nav-item">
  <a class="nav-link ps-0" id="home-tab" data-bs-toggle="link" href="{% url 'approved_warranties' %}" role="link" aria-controls="overview" aria-selected="true">Approved Warranties</a>
</li>
<li class="nav-item">
    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'approved_warranty_detail' application.pk %}" role="tab" aria-controls="overview" aria-selected="true">Details of Approved Warranty Application</a>
  </li>
{% endblock page-heading %}
{% block blue-btn %}
<a class="btn btn-primary text-white me-0" href="#feedback_update" onclick="document.getElementById('feedback_update').style.display='block', document.getElementById('toggle-delete-btn').style.display= 'none', document.getElementById('confirm-deletion').style.display='none';">Update Feedback</a>
<a class="btn btn-success" href="{% url 'complete_warranty' application.pk %}">Complete Warranty</a>
{% endblock blue-btn %} 
{% block content %}
<!-- Messages -->
<div id="message-div">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<!-- Table -->
<div class="row">
  <div class="col grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Warranty ID: {{application.pk}}</h4>
        <div class="table-responsive"  id="approved-table">
            <table class="table">            
                <tr>
                    <th>Application Date and time</th>
                    <td>:</td>
                    <td>{{application.application_date}}</td>
                </tr>
                <tr>
                    <th>Customer Name</th>
                    <td>:</td>
                    <td>{{application.customer_name}}</td>
                </tr>
                <tr>
                    <th>Purchase Date</th>
                    <td>:</td>
                    <td>{{application.purchase_date}}</td>
                </tr>
                <tr>
                    <th>Warranty Duration</th>
                    <td>:</td>
                    <td>{{application.duration}}</td>
                </tr>
                <tr>
                    <th>Contact Number</th>
                    <td>:</td>
                    <td>{{application.contact_number}}</td>
                </tr>
                <tr>
                    <th>Email ID</th>
                    <td>:</td>
                    <td>{{application.email_id}}</td>
                </tr>
                <tr>
                    <th>Alternative Number</th>
                    <td>:</td>
                    <td>{{application.alternative_number}}</td>
                </tr>
                <tr>
                    <th>Billing Name</th>
                    <td>:</td>
                    <td>{{application.billing_name}}</td>
                </tr>
                <tr>
                    <th>Invoice Number</th>
                    <td>:</td>
                    <td>{{application.invoice_number}}</td>
                </tr>
                <tr>
                    <th>Serial Number</th>
                    <td>:</td>
                    <td>{{application.serial_number}}</td>
                </tr>
                <tr>
                    <th>Model Number</th>
                    <td>:</td>
                    <td>{{application.model_number}}</td>
                </tr>
                <tr>
                    <th>Expiry Date</th>
                    <td>:</td>
                    <td>{{application.expiry_date}}</td>
                </tr>
                <tr>
                    <th>Product Complain</th>
                    <td>:</td>
                    <td style="text-wrap: wrap;">{{application.product_complain}}</td>
                </tr>
                <tr>
                    <th>Feedback</th>
                    <td>:</td>
                    <td style="text-wrap: balance;">{{application.feedback}}</td>
                </tr>                   
            </table>
        </div>
        <br>
        <!-- feedback update form -->
        <form class="form" method="POST" id="feedback_update" style="display:none">
            {% csrf_token %}
            <div class="form-group d-flex flex-column">
                <label for="feedback">Feedback</label>
                <textarea name="feedback" id="feedback" cols="30" rows="10" required>{{feedback}}</textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-success" type="submit">Update Feedback</button>
            </div>
        </form>
        <!-- delete button -->
        <div class="text-end" id="toggle-delete-btn">
            <a class="btn btn-danger" href="#approved-table" onclick="document.getElementById('confirm-deletion').style.display='block'">Delete Application</a>
        </div>
        <!-- confirm deletion box -->
        <div class="position-absolute border shadow shadow-danger px-3 pt-3" id="confirm-deletion" style="display: none; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            <h4 class="text-danger">Deleting product.</h4>
            <hr/>
            <h6>Are your sure?</h6>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary text-light" data-dismiss="modal" onclick="document.getElementById('confirm-deletion').style.display='none'" style="width: 75px;">Cancel</button>
                <a class="btn btn-danger text-light" href="{% url 'delete_approved_warranty_application' application.pk %}" style="width: 75px;">Delete</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


