{% extends "base.html" %}
{% block page-heading %}
<li class="nav-item">
  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'completed_warranties' %}" role="tab" aria-controls="overview" aria-selected="true">Completed Warranties</a>
</li>
{% endblock page-heading %}
{% block content %}
<!-- Table -->
<div class="row px-2">
  <div class="col grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- Messages -->
        <div id="message-div">
          {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                  {% endfor %}
              </ul>
          {% endif %}
        </div>
        
        {% if completed_warranties %}
        <h4 class="card-title">Completed Warranties</h4>        
        <div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                    <th>Application Date</th>
                    <th>Customer Name</th>
                    <th>Contact Number</th>              
                    <th>Billing Name</th>                
                    <th>Serial Number</th>
                    <th>Model Number</th>
                    <th>Expiry Date</th>
                  </tr>
            </thead>
            <tbody>
              {% for completed_warranty in completed_warranties %}
              <tr id="link-table" onclick="window.location='{% url 'completed_warranty' completed_warranty.pk %}'">
                <td>{{completed_warranty.application_date}}</td>
                <td>{{completed_warranty.customer_name}}</td>
                <td>{{completed_warranty.contact_number}}</td>                
                <td>{{completed_warranty.billing_name}}</td>                
                <td>{{completed_warranty.serial_number}}</td>
                <td>{{completed_warranty.model_number}}</td>
                <td>{{completed_warranty.expiry_date}}</td>
              </tr>
              {% endfor %}                            
            </tbody>
          </table>
        </div>
        {% else %}
            <div class="text-center text-danger text-uppercase">
                <h5>No Completed Warranty</h5>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}